<div class="section">
  <div class="section-title">
    <h1>Benjamin Silas Rhodes</h1>
  </div>
  <div class="section-content">
    <p class="lead">
      Always curious and looking for the next challenge.
    </p>
  </div>
</div>
