<div class="section">
  <div class="section-title">
    <h1>Contact</h1>
  </div>
  <ul class="unstyled">
    <li>
      <i class="icon-map-marker"></i>
      Carlsbad, CA
    </li>
    <li>
      <i class="icon-signal"></i>
      (845) 260-8426
    </li>
    <li>
      <i class="icon-envelope"></i>
      <a href="mailto:benjamin.s.rhodes@gmail.com">benjamin.s.rhodes@gmail.com</a>
    </li>
    <li>
      <i class="icon-globe"></i>
      <a href="http://www.bsrhodes.com/">bsrhodes.com</a>
    </li>
    <li>
      <i class="icon-globe"></i>
      <a href="http://github.com/nerdyworm">github.com</a>
    </li>
  </ul>
</div>
