<div class="section">
  <div class="section-title">
    <h2>Recent Projects</h2>
  </div>
  <div class="section-content">
    <ul>
      <li>
        <a href="http://konimarket.com" target="_blank">KONI Market</a>
        <ul>
          <li>Shopify Store</li>
          <li>REST Service for Menus</li>
          <li>Analytics</li>
        </ul>
      </li>
      <li>
        <a href="http://trance-mixes.com" target="_blank">trance-mixes.com</a>
        <ul>
          <li>Backbone.js</li>
          <li>Rails</li>
          <li>Waveform Generation</li>
          <li>Fully automated</li>
        </ul>
      </li>
      <li>
        <a href="http://gtgarchive.com/" target="_blank">gtgarchive.com</a>
        <ul>
          <li>Ember.js</li>
          <li>Middleman</li>
          <li>Waveform Generation</li>
        </ul>
      </li>
      <li>
        <a href="http://www.bsrhodes.com/projects.html" target="_blank">Past projects</a>
      </li>
    </ul>
  </div>
</div>
