<div class="section">
  <div class="section-title">
    <h2>Education</h2>
  </div>

  <div class="seection-content">
    <div class="school">
      <h4>University of North Carolina at Chartlotte</h4>
      <p><em>Computer Science Major, GPA: 3.6</em> <span class="muted">2007-2011</span></p>
      <ul>
        <li>
          Advanced coursework includes:
          <ul>
            <li>Compiler Design and implementation</li>
            <li>Parallel Programing and Distributed Systems</li>
         </ul>
        </li>
        <li>
          Notable Projects:
          <ul>
            <li>Designed and implemented distributed password breaking software with OpenMP.</li>
            <li>Machine learning program which learned to defeat a player by playing a game in Lisp.</li>
            <li>Developed experimental visualization algorithms.</li>
            <li>Full RTS Video Game using XNA and C#</li>
            <li>Web based Resource Alocation for System for Colleges</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
