<div class="section">
  <div class="section-title">
    <h2>Skills &amp; Development Tools</h2>
  </div>
  <div class="section-content">
     <p>Listed bellow are the tools that I use and how I would rate my expertise with them (higher is better).</p>

    <h3>Languages</h3>
    <ul class="unstyled">
      <li>
        <strong>Ruby</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 90%"></div>
        </div>
      </li>
      <li>
        <strong>CoffeeScript</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 90%"></div>
        </div>
      </li>
      <li>
        <strong>JavaScript</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 90%"></div>
        </div>
      </li>
      <li>
        <strong>Clojure</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 35%"></div>
        </div>
      </li>
      <li>
        <strong>Java</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 75%"></div>
        </div>
      </li>
      <li>
        <strong>C#</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 25%"></div>
        </div>
      </li>
      <li>
        <strong>PHP</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 45%"></div>
        </div>
      </li>
      <li>
        <strong>Go</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 5%"></div>
        </div>
      </li>
    </ul>

    <h3>Front End</h3>
    <ul class="unstyled">
      <li>
        <strong>Jasmine</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 80%"></div>
        </div>
      </li>
      <li>
        <strong>QUnit</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 60%"></div>
        </div>
      </li>
      <li>
        <strong>Ember.js</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 60%"></div>
        </div>
      </li>
      <li>
        <strong>Backbone.js</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 90%"></div>
        </div>
      </li>
      <li>
        <strong>jQuery</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 95%"></div>
        </div>
      </li>
      <li>
        <strong>Less &amp; Sass</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 95%"></div>
        </div>
      </li>
    </ul>

    <h3>Backend</h3>
    <ul class="unstyled">
      <li>
        <strong>Linux</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 80%"></div>
        </div>
      </li>
      <li>
        <strong>AWS</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 60%"></div>
        </div>
      </li>
      <li>
        <strong>Rails</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 90%"></div>
        </div>
      </li>
      <li>
        <strong>Postgres</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 70%"></div>
        </div>
      </li>
      <li>
        <strong>MySQL</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 50%"></div>
        </div>
      </li>
      <li>
        <strong>Redis</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 65%"></div>
        </div>
      </li>
      <li>
        <strong>MongoDB</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 85%"></div>
        </div>
      </li>
      <li>
        <strong>Jenkins</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 45%"></div>
        </div>
      </li>
      <li>
        <strong>Git</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 60%"></div>
        </div>
      </li>
      <li>
        <strong>Subversion</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 40%"></div>
        </div>
      </li>
    </ul>

    <h3>Misc</h3>
    <ul class="unstyled">
      <li>
        <strong>Test Driven Development</strong>
        <div class="progress progress-success">
          <div class="bar" style="width: 65%"></div>
        </div>
      </li>
      <li>
        <strong>Vim</strong>
        <p>Always so much to learn.</p>
        <div class="progress progress-success">
          <div class="bar" style="width: 45%"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
