<div class="section">
  <div class="section-title">
    <h2>Work Experience</h2>
  </div>
  <div class="section-content">
    <div class="job">
      <h3>Freelance Coder</h3>
      <p><em>Carlsbad, CA <span class="muted">2012-Present</span></em></p>
      <ul>
        <li>Working with local entrepreneurs to develop their minimum viable products</li>
        <li>Pre launch marketing strategies</li>
        <li>Analytics and engagement tracking</li>
      </ul>
    </div>

    <div class="job">
      <h3><a href="http://pipelinedeals.com" target="_blank">PipelineDeals</a></h3>
      <p><em>Full Stack Engineer Philadelphia, PA <span class="muted">2010-2012</span></em></p>
      <ul>
        <li>Took the companies most ambitious projects and transformed them into profitable software.</li>
        <li>Taught and implemented solid software testing practices.</li>
        <li>Designed and coded high performance services to ease scaling issues.</li>
        <li>Developed numerous third party api integrations.</li>
        <li>
          Notable Projects:
          <ul>
            <li>Google Gmail Gagdget</li>
            <li>Full Mailchimp Integration</li>
            <li>API Design and Implementation</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="job">
      <h3><a href="http://www.sva.edu/" target="_blank">School of Visual Arts</a></h3>
      <p><em>Software Developer &amp; System Administrator New York City, NY <span class="muted">2005 - 2007</span></em></p>
      <ul>
        <li>Designed, implemented, and managed mission critical services, email, web, voip.</li>
        <li>Monitored performance of these systems with in house crafted software.</li>
        <li>Transitioned all development to subversion work flow with automated deployments.</li>
      </ul>
    </div>

   </div>

</div>
